h1 {
  margin-bottom: 40px;
  width: 100px;
  margin: auto;
}
body {
  background-color: #c7b39b;
}
#chessboard {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  position: relative;
}
.chessB {
  display: flex;
  justify-content: center;
}
.cell {
  width: 50px;
  height: 50px;
  float: left;
  box-sizing: border-box;
  position: relative;
}
.bg-black {
  background: rgb(58, 54, 42);
}
.bg-wheat {
  background: white;
}
.pawn {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background: rgb(221, 221, 218);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rPawn {
  background: rgb(156, 29, 29);
}
.elect {
  width: 35px;
  height: 35px;
  border: 5px solid lawngreen;
}

.active {
  border: 3px solid lawngreen;
}
